+++
title = "ConsenSource"
+++

{{< blocks/cover title="ConsenSource" image_anchor="top" height="full">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/about" >}}">
		Read The Docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/target/consensource" target="blank">
		View the code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Certification Transparency and Authenticity using Blockchain Technology</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
<h3 class="section-head">What is ConsenSource?</h4>
<br />
ConsenSource is an application designed to leverage _permissioned Distributed Ledger Technolgy_ (Blockchain) to bring transparency 
and trust to the sourcing industry - making it easier to find and verify the certifications and audit histories of a factory. 
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-check-double" title="Trusted" %}}
The immutable and distributed nature of the blockchain provides verifiable trust that all transactions on the network 
are authentic.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-book-open" title="Transparent" %}}
Certification records and audit history are broadcasted and agreed upon by all members of ConsenSource.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-check" title="Permissioned" %}}
The ConsenSource governing body controls permissioning of all actors in the network, 
limiting access to only approved and relevant organizations.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="white">}}
<div class="col">
	<h1 class="text-center">How It Works</h1>
	<br>
	<div class="text-center">
		<video controls width="75%">
			<source 
				src="./ConsenSource.mp4"
				type="video/webm"
			>
			Sorry, your browser doesn't support embedded videos.
		</video>
	</div>
</div>

{{< /blocks/section >}}
